
.about{
    background: #000;
    position:relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}
.Hm40{
    margin-left: 20%;
    margin-top: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}
.Resume-Button{
    background-color: #007B81;
    font-family:Helvetica,Arial,sans-serif;
    font-weight: bold;
    width:max-content;
    color:white;
}
.z{
    text-align: center;
}
.bz{
    color: #007B81;
    font-size: 70pt;
    background-color: #000;
}
/* .Wm40{
    margin-left: 20%;
} */