<!-- Version 1 -->
<!-- <div class="about" id ="about">
    <div class="container-md pt-5">
      <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" 
      class="text-left text-white ps-5 Hm40">Hello, 
      </h1>
      <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="text-left text-white ps-5 Wm40">I'm&nbsp;&nbsp;Nithin&nbsp;&nbsp;Charles  
      </h1>
    </div>
  </div> -->

  <!-- Version 2 -->
  <div class="about" id ="about">
    <div class="row align-items-center">
        <div class="col-12 my-auto" >
            <div class="container-sm mt-5 mb-5">
                <div class="row ">
                    <div class="col-sm-6  my-auto">
                        <div class="m-5">
                            <img src="/assets/images/aboutNC.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-sm-6 my-auto px-5">
                        <div class="m-5 mx-auto">
                            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" 
                            class="text-left text-white ">Hello, 
                            </h1>
                
                            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="text-left text-white">I'm&nbsp;&nbsp;Nithin&nbsp;&nbsp;Charles  
                            </h1>
                
                            <p class="text-white text-left">A&nbsp;Mechatronics Engineer who has&nbsp;fallen in &#10084;&nbsp;with coding</p>
                            <button class="Resume-Button">RESUME</button>
                            <!-- <h4 class="text-white text-left pt-3" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">For Contact</h4>
                            <div class="row pt-3">
                                <div class="col col-sm-3">
                                    <img src="/assets/images/linkedin_icon.png" alt="" width="50px">
                                </div>
                                <div class="col col-sm-3">
                                    <img src="/assets/images/instagram_icon.png" alt="" width="50px">
                                </div>
                                <div class="col col-sm-3">
                                    <img src="/assets/images/github_icon.png" alt="" width="50px">
                                </div>
                                <div class="col col-sm-3">
                                    <img src="/assets/images/twitter_icon.png" alt="" width="50px">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>