  <div class="Contact" id ="Contact">
    <div class="row align-items-center">
        <div class="col-12 my-auto">
            <div class="container-sm mt-5 mb-5">
                <div class="row pt-5">
                    <div class="col col-md-12 align-items-center">
                        <h1 class="text-white text-center git">Get in Touch</h1>
                    </div>
                </div>
                <h4 class="text-white text-center pt-3" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">For Contact</h4>
                                <div class="row pt-3 ">
                                    <div class="col col-sm-3 align-items-center ac">
                                        <img src="/assets/images/linkedin_icon.png" alt="" class="ac" width="50px">
                                    </div>
                                    <div class="col col-sm-3">
                                        <img src="/assets/images/instagram_icon.png" alt="" class="ac" width="50px">
                                    </div>
                                    <div class="col col-sm-3">
                                        <img src="/assets/images/github_icon.png" alt="" class="ac" width="50px">
                                    </div>
                                    <div class="col col-sm-3">
                                        <img src="/assets/images/twitter_icon.png" alt="" class="ac" width="50px">
                                    </div>
                                </div>
            </div>
        </div>
    </div>
    
</div>